	

body {
		font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.scroll {
		width: 13680px;
		height: 600px !important;
		position: fixed;
	}

/*   Owl Positioning  */
.fp-tableCell {
	display: table-cell;
	position: relative;
	top: -90px;
	width: 100%;
	height: 100%;
}

.home {
	width: 100%;
	height: 100%;
	position: relative;
	background-image: url(../img/tree.png);
	background-repeat: no-repeat;
}

.home {
	background-size: cover;
}